@model IEnumerable<infinitysky.Models.Planos>

@{
    ViewData["Title"] = "Favoritos";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="~/css/Favoritos.css" asp-append-version="true">

<!-- Banner com as 3 fotos -->
<section class="banner">
    <img class="banner-image" src="/img/melhorlugar.png" alt="Banner" />
</section>

<!-- Descrição que aparece -->
<section class="descricao text-center">
    <h2>Planos Favoritados</h2>
</section>

<div class="container mt-4">
    <section id="order">
        <div class="card p-3">
            @if (!Model.Any())
            {
                <div class="empty-cart text-center">
                    <p>Sua lista de favoritos está vazia.</p>
                </div>
            }
            else
            {
                <table class="table table-hover shopping-cart-wrap">
                    <tbody>
                        @foreach (var itemfavoritos in Model)
                        {
                            var subTotal = itemfavoritos.QtdPlano * Convert.ToDecimal(itemfavoritos.Valor);
                            <tr>
                                <td class="d-flex align-items-center">
                                    <div class="me-3">
                                        <figure class="media">
                                            <div class="image-container">
                                                @if (itemfavoritos.image_plano != null)
                                                {
                                                    <img src="/@itemfavoritos.image_plano" class="product-image" alt="Imagem do Plano" />
                                                }
                                                else
                                                {
                                                    <img src="/Imagens/imagenotfound.png" class="product-image" alt="Imagem Padrão" />
                                                }
                                            </div>
                                        </figure>
                                    </div>
                                    <figcaption class="media-body text-end">
                                        <div class="pt-3">
                                            <h5 class="titulo-plano">@itemfavoritos.Nome</h5>
                                            <p class="product-info">Hospedagem: @itemfavoritos.HospedagemPlano</p>
                                            <p class="product-info">Curso: @itemfavoritos.CursoPlano</p>
                                            <p class="product-info">Escola: @itemfavoritos.InstituicaoPlano</p>
                                            <p class="product-info">Período: @itemfavoritos.PeriodoPlano</p>
                                            <p class="product-parcela">@itemfavoritos.ParcelaPlano</p>
                                        </div>
                                    </figcaption>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </section>
</div>